.env
.env.test
backend/node_modules/
dist/
coverage/
*.log
fronend/node_modules/
fronend/package-lock.json
fronend/package.json
backend/package-lock.json
backend/package.json
backend/flight-data-import-f13fe24a45ef.json
fstart.bat
bstart.bat
/DashBOARD
FlightDashboard_Implementation_Plan.md
